#changelog-content {
  	h1 {
	  margin-bottom: 20px;
	}
  	h3,
	h4 {
	  padding: 10px !important;
	  background-color: $gray-lighter;
	}
  	h4 {
	  padding-top: 5px !important;
	  padding-bottom: 5px !important;
	  border-bottom: 1px dotted $gray-darker;
	}
}