footer {
  position: relative;
  height: 100%;
  .footer-below {
	padding: 10px;
	background-color: $gray-darker;
	color: $gray-lighter;
  }
  .footer-above {
	padding: 10px;
	background-color: $gray-dark;
  }
}