// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include serif-font;
    background-color: $gray-darker;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: $theme-primary;
}

hr.light {
    border-color: white;
}

@include hyperlink($theme-primary);

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}


.text-faded {
    color: fade-out(white, .3);
}


.bg-light {
    background-color: white;
}
.bg-primary {
    background-color: $theme-primary !important;
    @include hyperlink($gray-light);
}
.bg-dark {
    color: white;
    background-color: $gray-darker !important;
}

section {
    padding: 100px 0;
}

.section-heading {
    margin-top: 0;
}

.no-padding {
    padding: 0;
}

::-moz-selection {
    color: white;
    background: $gray-darker;
    text-shadow: none;
}

::selection {
    color: white;
    background: $gray-darker;
    text-shadow: none;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $gray-darker;
}
