// Variables
@use 'sass:color';

// Gray and Brand Colors for use across theme

$theme-primary:    #F05F40;
$theme-primary:    #52BC50;

$gray-base:        #000 !default;
$gray-darker:	   color.adjust($gray-base, $alpha: .135) !default; // #222
$gray-dark:		   color.adjust($gray-base, $alpha: .20) !default;   // #333
$gray:			   color.adjust($gray-base, $alpha: .335) !default; // #555
$gray-light:	   color.adjust($gray-base, $alpha: .467) !default; // #777
$gray-lighter:	   color.adjust($gray-base, $alpha: .935) !default; // #eee

$header-bg-color: $gray-darker;